{% extends 'layout.html' %} {% block title %} Hello, Forum! {% endblock %} {% block styles %}
<style>
  h2 {
    font-size: 2.8rem;
    margin: 150px auto 10px;
    text-align: center;
  }
  h2 + p {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  .cards {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 350px);
  }
  @media (max-width: 767px) {
    .cards {
      grid-template-columns: repeat(auto-fit, 250px);
    }
  }
  .card {
    margin: 10px 20px;
  }
  .card a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--third-color);
    color: var(--text-color);
    box-shadow: -2px 1px 0 2px var(--main-color);
    transition-duration: 0.3s;
    border-radius: 20px;
    font-weight: 600;
  }
  .card a:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    box-shadow: -2px 2px 0 2px var(--header-color);
  }
  .card a:hover span {
    color: var(--third-color);
    transition-duration: 0.3s;
  }
  .card span {
    color: var(--second-color);
    margin-right: 10px;
  }
</style>
{% endblock %} {% block content %}
<div class="container">
  <h2>Welcome to Hello, Forum!</h2>
  <p>Pick a channel to chat with others</p>
  <div class="cards">
    {% for channel in channels %}
    <div class="card">
      <a href="{% url 'channel_page' channel.id %}"
        ><span>#</span>
        <p>{{channel.name}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
